<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">

    <title>treehouse chat editor</title>

    <link rel="stylesheet" href="{{ config.site }}/static/css/main.css">
    <link rel="stylesheet" href="{{ config.site }}/static/css/components/chat-editor.css">

    <script type="importmap">{
        "imports": {
            "treehouse/": "{{ config.site }}/static/js/"
        }
    }</script>

    <script>const TREEHOUSE_SITE = `{{ config.site }}`;</script>

    <script type="module" src="{{ config.site }}/static/js/components/chat-editor/main.js"></script>
</head>

<body>

    <th-chat-editor id="main-editor"></th-chat-editor>

    <script type="module">
        async function main() {
            let filename = window.location.hash.substring(1);
            if (!filename.startsWith('/')) {
                // TODO: would be nice if we had a way to report this error to the user.
                console.error("filename must be absolute");
                return;
            }
        
            let model = JSON.parse(await(await fetch(`/development/read-file/${filename.substring(1)}`)).text());
            let editor = document.getElementById("main-editor");
            editor.useModel(model);
            editor.updateFromModel();

            let debounceTimeout = 0;
            editor.addEventListener(".modelUpdate", (event) => {
                clearTimeout(debounceTimeout);
                debounceTimeout = setTimeout(async () => {
                    console.log("auto-saving document");
                    await fetch(`/development/write-file/${filename.substring(1)}`, {
                        method: "POST",
                        body: JSON.stringify(event.model),
                    });
                }, 1000);
            });
        }
        main();
    </script>

    <th-context-menus></th-context-menus>

</body>

</html>
