<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">

    <title>{{ config.user.title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="{{ site }}/static/css/main.css">
    <link rel="stylesheet" href="{{ site }}/static/css/tree.css">
    <link rel="stylesheet" href="{{ site }}/static/font/font.css">

    <script type="module" src="{{ site }}/static/js/tree.js"></script>
    <script type="module" src="{{ site }}/static/js/usability.js"></script>
</head>

<body>
    <noscript>
        <div class="noscript" role="note">
            <p>hey! looks like you have <strong>JavaScript disabled.</strong><br>
                I respect that decision, but you may find the experience of browsing the treehouse… not great.<br>
                for example, links to branches may not work properly. I cannot do anything about this; it's due to how
                the <code>&lt;details&gt;</code> element works.<br>
                (a <code>&lt;details&gt;</code> will not expand itself automatically to reveal the linked element to
                you.)<br>
                I did my best to at least keep the site readable in this state, but you can only do so much with plain
                HTML and CSS.</p>

            <p><strong>Pinky promise this website does not contain any malicious code such as trackers or cryptocurrency
                    miners.</strong><br>
                if you don't believe me, you're free to inspect the source yourself! all the scripts are written
                lovingly in vanilla JS (not minified!) by yours truly ❤️</p>
            <small>and if this box is annoying, feel free to zap it with uBlock Origin or something. I have no
                way of remembering you closed it, and don't wanna host this site on a dynamic server.</small>

            {{!-- <form method="dialog">
                <button name="th-noscript-close" class="noscript-close">I understand and wish to proceed without
                    JavaScript. And don't nag me about it anymore.<br>
                    I consent to you storing a cookie on my device to remember this decision.</button>
            </form>
            --}}
            {{!-- I disabled the button because I can't figure out a way to do this without storing a cookie, and I
            don't like those. I'd prefer if this website were fully static. --}}
            </dialog>
    </noscript>

    <main class="tree">
        {{{ tree }}}
    </main>
</body>

</html>
