<!DOCTYPE html>

<html lang="en-US" prefix="og: https://ogp.me/ns#">

<head>
    <meta charset="UTF-8">

    <title>{{#if (ne page.title config.user.title)}}{{ page.title }} · {{/if}}{{ config.user.title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:site_name" content="{{ config.user.title }}">
    <meta property="og:title" content="{{ page.title }}">
    {{!--
    This is a bit of a hack to quickly insert metadata into generated pages without going through Handlebars, which
    would involve registering, parsing, and generating a page from a template.
    Yes it would be more flexible that way, but it doesn't need to be.
    It just needs to be a string replacement.
    --}}
    <!-- treehouse-ca37057a-cff5-45b3-8415-3b02dbf6c799-per-branch-metadata -->

    <link rel="stylesheet" href="{{ config.site }}/static/css/main.css">
    <link rel="stylesheet" href="{{ config.site }}/static/css/tree.css">

    <script>const TREEHOUSE_SITE = `{{ config.site }}`;</script>
    <script type="module" src="{{ config.site }}/navmap.js"></script>
    <script type="module" src="{{ config.site }}/static/js/usability.js"></script>
    <script type="module" src="{{ config.site }}/static/js/tree.js"></script>
    <script type="module" src="{{ config.site }}/static/js/emoji.js"></script>
    <script type="module" src="{{ config.site }}/static/js/thanks-webkit.js"></script>
</head>

<body>
    <nav>
        <a href="{{ config.site }}/" title="Back to homepage">
            <svg class="logo" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M8 3H7H6V4V5H4V6H6V9V10H7H10V12H11V10H12H13V9V8V7H12H11H10V8V9H7V6H8H9V5V4V3H8ZM12 9H11V8H12V9ZM7 5V4H8V5H7ZM3 5H2V6H3V5ZM10 13H11V14H10V13Z"
                    fill="currentColor" />
            </svg>
        </a>

        {{#if page.breadcrumbs}}
        <ol class="breadcrumbs">
            {{{ page.breadcrumbs }}}
        </ol>
        {{/if}}
    </nav>

    <noscript>
        <div class="noscript" role="note">
            <p>hey! looks like you have <strong>JavaScript disabled.</strong><br>
                I respect that decision, but you may find the experience of browsing the treehouse… not great.<br>
                for example, links to branches may not work properly. I cannot do anything about this; it's due to how
                the <code>&lt;details&gt;</code> element works.<br>
                (a <code>&lt;details&gt;</code> will not expand itself automatically to reveal the linked element to
                you.)<br>
                I did my best to at least keep the site readable in this state, but you can only do so much with plain
                HTML and CSS.</p>

            <p><strong>Pinky promise this website does not contain any malicious code such as trackers or cryptocurrency
                    miners.</strong><br>
                if you don't believe me, you're free to inspect the source yourself! all the scripts are written
                lovingly in vanilla JS (not minified!) by yours truly ❤️</p>
            <small>and if this box is annoying, feel free to block it with uBlock Origin or something. I have no
                way of remembering you closed it, and don't wanna add a database to this website. simplicity
                rules!</small>
        </div>
    </noscript>

    <div id="webkit-makes-me-go-insane" class="noscript" role="note">
        <p>hey! looks like you're using a weird or otherwise quirky web browser. this basically means, the website will
            not work for you correctly. I might fix it in the future but I have very limited time to work on this
            website and so don't have an estimate on when that might happen.</p>
        <p>in the meantime I suggest switching to <a href="https://firefox.com">something more modern.</a></p>
        <p>sorry for the inconvenience!</p>
    </div>

    <main class="tree">
        {{{ page.tree }}}
    </main>
</body>

</html>
